@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.enLang{
    display: block;
}
.arLang{
    display: none;
    font-weight: 500;
}
input.arLang{
    text-align: right;
}

nav {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
    z-index: 1000;
    background-color: #fff;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo h1 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #025fff 0%, #011073 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;    
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #f5f5f5;
}

nav #langSwitcher{
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav #langSwitchAR, #langSwitchEN{
    position: relative;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #007bff;
    font-size: 95%;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}
nav #langSwitchAR{
    margin-right: -10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: fixed;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255, 0.95);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

/* Form */

#booking-form{
    display: flex;
    place-content: center;
    padding: 50px 20px;
}

#booking-form h1{
    margin: 0 0 25px 0;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 25px 40px;
}

#booking-form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}
#booking-form input[type=checkbox]{
    width: fit-content;
}

#booking-form select{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    color: #007bff;
}

#booking-form select:hover{
    background-color: #ddd;
}

#booking-form select:focus{
    background-color: #fff;
    outline: none;
}

#booking-form select option{
    background-color: #fff;
}

#booking-form select option:hover{
    background-color: #aaa;
}

#booking-form #mealChecker{
    height: 20px;
    display: flex;
    margin-bottom: 10px;
}
#booking-form #mealChecker input{
    height: 100%;
}

#booking-form label, select, button{
    cursor: pointer;
}

#members-container{
    margin: 10px 0;
}

#members-container .member{
    display: flex;
    column-gap: 15px;
    height: 30px;
    margin: 10px 0;
}
#members-container .member p{
    align-self: center;
    font-size: small;
    color: #0f0;
    margin-left: -10px;
}

#members-container .member input{
    height: 100%;
}

#booking-form .booking-btn {
    display: block;
    justify-self: center;
    width: fit-content;
    background-color: #888888;
    border-radius: 60px;
    padding: 12px 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#booking-form .booking-btn:hover {
    background-color: #09305a;
}

/* Footer */

footer {
    background-color: #007bff;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    color: #09305a;
}
@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1050px) {
    .hamburger {
        display: block;
    }

    nav ul li {
        display: none;
    }
    
    nav #langSwitcher{
        position: absolute;
        right: 100px;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    nav #langSwitcher{
        right: 75px;
    }
}