@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.enLang{
    display: block;
}
.arLang{
    display: none;
    font-weight: 500;
}

nav {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
    z-index: 1000;
    background-color: #fff;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo h1 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #025fff 0%, #011073 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;    
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #f5f5f5;
}

nav #langSwitcher{
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav #langSwitchAR, #langSwitchEN{
    position: relative;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #007bff;
    font-size: 95%;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}
nav #langSwitchAR{
    margin-right: -10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: fixed;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255, 0.95);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/ezgif.com-gif-maker-6.webp');
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 200px 50px;
    text-align: center;
    color: #fff;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .hero-content{
    position: relative;
    z-index: 99;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.4rem;
    margin-bottom: 30px;
}


.featured-attractions {
    padding: 2em;
    text-align: center;
    background-color: #fff;
}

.featured-attractions h2{
    font-size: 35px;
}

.attraction-list {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.attraction-item {
    width: 300px;
    margin: 10px 0;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease; 
}

.attraction-item:hover {
    transform: scale(1.02);
}

.attraction-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.attraction-item h3 {
    margin-top: 0;
    color: #007bff;
}

.attraction-item p {
    color: #555;
}

.featured-attractions .button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 25px;
    justify-self: center;
    width: fit-content;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 15px; 
    font-size: 1.1em;
    transition: background-color 0.3s ease; 
}

.featured-attractions .button:hover {
    background-color: #09305a; 
}
footer {
    background-color: #007bff;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    color: #09305a;
}
@media screen and (max-width: 1250px) {
    .attraction-list {
        column-gap: 15px;
    }  
}

@media screen and (max-width: 1050px) {
    .hamburger {
        display: block;
    }

    .attraction-list {
        display: block;
        justify-self: center;
    } 

    .attraction-item {
        width: 500px;
        margin: 25px 0;
    }

    nav ul li {
        display: none;
    }
    
    nav #langSwitcher{
        position: absolute;
        right: 100px;
        align-self: center;
    }

    .hero {
        padding: 100px 50px;
      }
}

@media screen and (max-width: 600px) {
    .attraction-item {
        width: 300px;
    }

    nav #langSwitcher{
        right: 75px;
    }
}